:root{
	--trans-seconds: 0.5s;
	--trans-scale: 1.5;
	--anim-seconds: 0.5s;
}

@keyframes append{
	0%{
		opacity: 0;
	}
}

@keyframes remove{
	100%{
		opacity: 0;
	}
}

.custom-element-append{
	animation: append var(--anim-seconds);
}

.custom-element-remove{
	animation: remove var(--anim-seconds);
}

.custom-hover-icon{
	transition: var(--trans-seconds);
	/*border-style: solid;*/
	border-color: white;
	border-width: 0.1rem;
}

.custom-hover-icon:hover{
	transform: scaleX(var(--trans-scale)) scaleY(var(--trans-scale));
	border-color: #90EE90;
	cursor: pointer;
}

.custom-hover-add{
	height: 3em;
	transition: height var(--trans-seconds);
	/*border-style: solid;*/
	/*border-color: white;*/
	/*border-width: 0.1rem;*/
}

.custom-hover-add:hover{
	/*transform: scaleY(var(--trans-scale));*/
	height: 5em;
	border-color: #90EE90;
	cursor: pointer;
}

.custom-auth{
	height: 100vh;
}